/* для всієї сторінки*/
.body{
    background-color:  #E5E5E5;
}

/*Стиль для Дія в Чорному */
div.BodyDija{
    margin: 0 auto;
    width: 512px;
    height: 512px;
    background-color: #000000;
    position: relative;
    box-sizing: border-box;
}
div.BodyDija{
    }
img.img_Dija{
    margin-top: 25%;
    margin-left: 20%;
}

.Img_BodyFlag{
    margin-top: 32px;
    margin-left: 42%;
}
/*Стилі для Хвиля на прапорі
.box{
    padding: 0 auto;
    text-align: center;
    width: 512px;
    height: 512px;
    background-color: #FFCE22;

}
.box2{
    width: 512px;
    height: 256px;
    background-color: #2137FC;
}
*/
.box{
    box-sizing: border-box;
    text-align: center;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/Home\ Work2.1\ Flag/img/Speechify - Square.png");
  }
  .imgGlyph{
    padding-top: 28%;
  
}

/*Стилі для Хвиля на прапорі 2 спроба*/
.page{
    background-color: #ffce22;
    width: 512px;
    height: 512px;
    box-sizing: content-box;
    background-repeat: no-repeat;
}
.content{
    height: 256px;
    background-image: url(../img/Blue.png);
}

.img_wave{
    padding-top: 151px;
    padding-left: 52px;
}
/*3 Варіант з кругом*/
.div_body{
    border: 0px; 
    margin: 0 auto;   
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
}


.backgr{
    width: 444px;
    height: 444px;
    margin: auto; 
    border: 0px;
    border-radius: 444px;
    background-repeat: no-repeat;
    background-image: url(../img/Speechify\ -\ Square.png);
    background-size: 444px 444px;
    text-align: center;
    background-origin: padding-box;
}
.img_wave2{
    width: 358px;
    height: 203px;
    padding-top: 250px;
}
