/*

font-family: 'M PLUS 1', sans-serif;
font-family: 'Marcellus SC', serif;
*/
.body{
    font-family: 'Inika', serif;
    text-align: center;
    box-sizing: border-box;
}
/*Шапка*/
.header{
    background-color: #FFFFFF;
    min-height: 60px;
    max-height: 110px;
    text-align: center;
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    margin-top: 25px;
   
}
.Head_color1{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #3E45E8;
}
.Head_color2{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #DFE31E;
}
/*Баннер*/
.banner{ 
    height: 803px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-top: 265px;  
    box-sizing: border-box; 
}
.content{
    
    background-image: url(../img/flag.png);
    height: 273px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-top: 10px;   
    box-sizing: border-box;
    
   }
/*НЕЙМОВІРНІ МІСЦЯ УКРАЇНИ*/
.main{
    padding: 0 80px;

}
.H1{
    padding-top: 72px ;
    padding-bottom: 25px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
  
   
}
.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    padding-bottom: 33px;
    
}
.card{
    border: 1px solid black;
    width: 28%;
    display: inline-block;
    vertical-align: super;
    
    border-radius: 30px 30px 10px 10px;
    box-shadow: 15px 4px 57px 3px rgba(0, 0, 0, 0.50);
    
}
.card_margin{
    margin: 0 4.5%;
}
.card_img{
    width: 100%;
    box-sizing: border-box;

}
.card_title{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}
.card_subtitle{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
.h2{
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: black;
    margin-top: 74px;
}
.line2{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 21px auto;
    
}
.hrev{
    width: 812px;
    margin: 41px auto;
}
.imgMAP{
    display: inline-block;
    margin: 41px auto;
    width: 100%;
    box-sizing: border-box;
    
}
.botton{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    background: #2A61F0;
    width: 591px;
    margin: 41px auto 21px auto;
    padding: 10px auto;
    border-radius: 30px;
}

/*Закінчення*/
.end{
    margin-top: 21px;
    height: 320px;
    background-color: #2F4A4B;
}
.end_text{}

contact_box{
    margin-block: 21px;

}
.contact{
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
}
.Ref{
    margin-top: 21px;
    display: inline-block;
}